.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paper {
  width: 400px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.boxTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.closeIcon {
  background-color: #222222;
  color: white;
  border-radius: 25%;
  cursor: pointer;
  padding: 6px;
  margin-left: auto;
}

.container {
  padding: 20px;
}

.box {
  background-color: #fbc02d;
  color: white;
  padding: 18px;
  border-radius: 4px;
  border: 1px solid #e4ac1c;
  margin: 0px 0px 20px 0px;
}

.input {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .paper {
    width: 90%;
  }

  .box {
    padding: 12px;
  }

  .input {
    width: 100%;
  }

}

@media (max-width: 480px) {
  .paper {
    width: 70%;
    height: auto;
  }

  .box {
    padding: 10px;
  }

  .boxTitle {
    padding: 12px;
  }

}
